.main-container {
  border: 1px solid black;
  width: 900px;
  height: 900px;
  position: relative;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 900px 100%;
  }

  .background-image {
    background-image: url("../../images/saint-bernard.jpg");
    border-right: 3px solid white;
  }

  .foreground-image {
    background-image: url("../../images/wolf-1.jpg");
    width: 50%;
  }
  #slider {
    position: relative;
    height: 100%;
    width: 100%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      height: 15px;
      width: 15px;
      border: 1px solid black;
      background-color: white;
      border-radius: 50%;
    }
  }
}
